site_name: FAIRmat Knowledgebase
site_description: |
  The FAIRmat Knowledgebase Documentaion.
site_author: The FAIRmat Area F
repo_url: https://siamakn.github.io/fairmat-knowledgebase/
edit_uri: ""

nav:
  - Home: index.md
  - Section1: Section1/Section1_mdfile.md
  - Section2:
    - Section2/Section2_mdfile.md
    - Section2_SubSection1: Section2/Section2_SubSection1/Section2_SubSection1_mdfile.md
    - Section2_SubSection2: Section2/Section2_SubSection2/Section2_SubSection2_mdfile.md

plugins:
 - search
theme:
  name: material
  palette:
    primary: '#2A4CDF'
    accent: '#008A67'
  font:
    text: 'Titillium Web'
  logo: assets/fairmat-logo.png
  favicon: assets/favicon.png
  features:
    - navigation.instant
  custom_dir: docs/theme
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: True
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - mkdocs-click
  - pymdownx.extra
extra:
  generator: false
  homepage: https://www.fairmat-nfdi.eu/fairmat/
use_directory_urls: false
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascript.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js